/*
font-family: 'Nunito', sans-serif; 

font-family: 'Josefin Sans', sans-serif; experience

rgb(214,40,40) , #e05959 , #e98b8b, #f3bcbc
*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
.cust-pink-text {
    color: #D62828;
}
.cust-light-pink-text {
    color: #e05959;
}
.cust-pink-bg {
    background-color: #D62828;
}
.nunito {
    font-family: 'Nunito', sans-serif;
}
.josefin {
    font-family: 'Josefin Sans', sans-serif !important;
}
h1,h2,h3,h4,h5,h6,a {
    font-family: 'Nunito', sans-serif;
}
nav {
    background-color: transparent;
    box-shadow: none !important;
}
nav ul li a {
    font-size: 1.3rem;
}
.container {
    width: 90%;
}
h1 {
    font-size: 5.6rem;
}
.btn-floating {
    position: fixed;
    z-index: 99999 !important;
    right: 40px;
    bottom: 40px;
}
.large {
    font-size: 3rem !important;
}
