header {
    position: absolute;
    height: 150px;
    width: 100%;
}
.container {
    width: 85%;
}
h5 {
    font-size: 1.4rem;
}
.name {
    height: 100%;
    width: 30%;
    padding: 10px 0px;
    text-align: center;
}
nav {
    margin-top: -100px;
    width: 25%;
    box-shadow: none;
    transition: all 1s linear .350ms;
}
.table-of-contents li {
    padding: 0px 0px !important;
}
.table-of-contents a, nav ul li a {
    height: 4.5rem;
    line-height: 4rem;
    background-color: #FFFFFF;
    border: 1px solid #1e88e5;
    color: grey;
    font-size: 2rem;
    font-weight: lighter;
}
nav ul li a:hover, .table-of-contents a.active, .table-of-contents a:hover {
    padding-left: 20px;
    background-color: #1e88e5 !important;
    color: #fff;
    border-left: 1px solid transparent;
    font-weight: lighter;
    font-size: 2rem;
}
.fixed {
    position: fixed;
    display: block;
    z-index: 999;
}
header, .name, .name h1, nav, nav ul li a, nav ul li a:hover, .fixed {
    transition: all 1000ms ease-in-out;
}
.z-depth-1 {
    box-shadow: none;
}

/*************  / SCROLL SPY *****************/

.image {
    margin-top: 150px;
    height: 650px;
    width: 600px;
    background-position: center;
    background-image: url(../img/Arun.png);
    background-size: 600px 650px;
    background-repeat: no-repeat;
}
.margin-top {
    margin-top: 15%;
}
.visibility-hidden {
    visibility: hidden !important;
}
#portfolio .row {
    margin-top: 50px;
}
.divider {
    margin-left: 10%;
    width: 80% !important;
}
.social li {
    display: inline-block;
    padding: 0px 10px;
}
.social li a img {
    height: 60px;
    width: 60px;
}
.contact-btn {
    position: fixed;
    bottom: 30px;
    right: 50px !important;
}
.page-footer {
    height: 30px;
}
.page-footer div a:nth-child(1) {
    margin-top: 15px;
}
.page-footer div a {
    margin-top: 10px;
}
aside {
    height: 68vh;
}
.large {
    padding-top: 100px;
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* -----------------------
    @media queries
    ----------------------*/

@media only screen and (max-width:1020px) {}
@media only screen and (max-width:600px) {
    .name {
        width: 100%;
    }
    nav {
        display: none;
    }
    .z-depth-1 {
        margin-bottom: 10px;
        background-color: #fff !important;
        opacity: 0.8;
    }
}
