/*
font-family: 'Nunito', sans-serif;

font-family: 'Josefin Sans', sans-serif; experience

rgb(214,40,40) , #e05959 , #e98b8b, #f3bcbc
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.cust-pink-text {
    color: #D62828 !important;
}
.cust-medium-pink-text {
    color: #e36969 !important;
}
.cust-light-pink-text {
    color: #e36969 !important;
}
.cust-pink-bg {
    background-color: #D62828;
}
.gradient-bg {
    background: linear-gradient(110deg, #263238 35%, #D62828);
}
.reverse-gradient-bg {
    background: linear-gradient(110deg, #D62828, #263238 65%);
}
.nunito {
    font-family: 'Nunito', sans-serif;
}
.josefin {
    font-family: 'Josefin Sans', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Nunito', sans-serif;
}
.absolute {
    position: absolute;
}
.margin-top {
    margin-top: 4rem;
}
.margin-bottom {
    margin-bottom: 4rem;
}
.brand-logo {
    margin-left: 5rem;
    color: #da3737 !important;
}
nav {
    height: 120px !important;
    transition: all 0.2s ease-in-out;
}
nav ul {
    margin-right: 5rem;
}
.brand-logo, nav ul {
    margin-top: 50px;
    transition: all 0.2s ease-in-out;
}
.nav-fix-height {
    height: 64px !important;
}
.table-of-contents a {
    color: #455a64;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 1.3rem;
}
.table-of-contents {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.table-of-contents a.active, .table-of-contents a:hover, nav ul li a:hover {
    color: #D62828 !important;
    border-left-color: transparent !important;
    background-color: transparent !important;
}
.container {
    width: 90%;
}
.title {
    margin-top: 11.5rem;
    font-size: 6.8rem;
    text-shadow: 2px 4px 8px #1c2429 !important;
}
.btn:hover {
    background-color: #e05959;
}
.btn-floating {
    position: fixed;
    z-index: 99 !important;
    right: 30px;
    bottom: 30px;
}
.large {
    font-size: 3rem !important;
}
.work-btn {
    margin-top: 1rem;
}
.modal {
    height: 68vh !important;
}
.message-aside {
    height: inherit;
}
.message-aside aside {
    padding-top: 30%;
}
.close {
    float: right;
    cursor: pointer;
    font-size: 2.3rem;
}
.section-title {
    margin-top: 4.5rem;
}
.description-left-line {
    border-left: 5px solid #eceff1;
}
.description {
    margin: 3.5rem 0;
    padding: 2rem;
}
#request {
    height: 60vh !important;
    width: 50vw;
}
.view-all-work {
    font-size: 1.2rem;
}

/* input */

.input-field input[type=text]:focus+ label, .input-field input[type=email]:focus+ label, textarea:focus+ label, .input-field input[type=tel]:focus+ label, .input-field input[type=number]:focus+ label {
    color: #D62828;
}
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field textarea:focus, .input-field input[type=tel]:focus, .input-field input[type=number]:focus {
    border-bottom: 1px solid #e36969 !important;
    box-shadow: 0 1px 0 0 #e36969 !important;
}
.mail-link a {
    color: #e36969;
}

/*
  MEDIA QUERIES
*/

@media only screen and (max-width: 600px) {
    .brand-logo {
        margin-left: 0rem;
        text-align: center !important;
    }
}
